.input {
  &-checkbox {
    display: none;
    & + label:hover:before {
      background-color: $graye5;
    }
    & + label:focus-within:before {
      box-shadow: 0 0 0 2px $purple;
    }
    & + label:before {
      content: "";
      background-color: $white;
      width: rem(25);
      height: rem(25);
      border: 1px solid $black06;
      border-radius: rem(4);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: rem(2);
      box-sizing: border-box;
      cursor: pointer;
    }
    &:checked + label:before {
      content: "✔";
      font-weight: 900;
      font-size: rem(15);
      color: $white;
      background-color: $purple;
      border: 1px solid $purple;
      margin: rem(2);
    }
  }
}
