$black06: #060606;
$black: #000000;
$white: #ffffff;
$red: #ff3d45;
$graye5: #e5e8f0;
$gray83: #838a93;
$gray55: #555d67;
$gray1e: #1e2530;
$gray06: #060606;

$purple: #bb6bd9;

// 이미지 경로
$imgurl: "/src/assets/img/";
