.guide {
  position: fixed;
  left: 0;
  right: 0;
  top: rem(48);
  z-index: 100;
  background-color: $white;
  border-top: 1px solid $gray06;
  &-pd {
    padding-top: rem(63);
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  li:nth-child(4n) {
    border-right: none;
  }
  a {
    display: block;
    line-height: rem(30);
    text-align: center;
    font-size: rem(15);
    border-bottom: 1px solid $gray06;
    border-right: 1px solid $gray06;
    color: $black;
  }
}
